<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Prompt</title>
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
</head>
<body>

    <header>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'admin_home' %}">Home</a>
        </nav>
         {% endif %}    
        {% if user.is_authenticated %}
           Autenticato come {{user.username}} -&nbsp;<a href="{% url 'admin_logout' %}">Esci</a>
        {% else %}
           <a href="{% url 'admin_login' %}">Accedi</a>
        {% endif %}
     </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    <h1>Generazione prompt</h1>
    <form method="post">
        {% csrf_token %}
        {{ natural_lang_form }}
        <button type="submit">Genera Prompt</button>
    </form>

    {% if prompt %}
        <h2>Prompt Generato</h2>
        <div class="prompt">{{prompt}}</div>
    {% endif %}

</body>
</html>
