<!DOCTYPE html>
<html lang="it">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}{% endblock title %}Area amministrativa</title>
   {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
</head>

<body>

   <header>
      <nav>
         <a href="{% url 'admin_home' %}">Home</a>
      </nav>
      {% if user.is_authenticated %}
         Autenticato come {{user.username}} - <a href="{% url 'admin_logout' %}">Esci</a>
      {% else %}
         <a href="{% url 'admin_login' %}">Accedi</a>
      {% endif %}
   </header>

   {% if messages %}
   <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}

   {% block content %}{% endblock content %}
</body>

</html>
