{% extends "./base.html" %}

{%block title%}Crea campo tabella - {%endblock%}

{% block breadcrumb %}
    Ti trovi in: <a href="{% url 'db_view' struttura.pk %}">{{ struttura.nome }}</a> &gt&gt <a href="">{{ tabella.nome }}</a> &gt&gt {{ campo_nome }}
{% endblock breadcrumb %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ field_create_form }}
    <button type="submit">Submit</button>
</form>

{% endblock content %}