{% extends "./base.html" %}


{%block title%}Crea struttura Database - {%endblock%}

{% block breadcrumb %}
    Ti trovi in: {{ struttura_nome }}
{% endblock breadcrumb %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ db_create_form }}
    <button type="submit">Submit</button>
</form>

{% if editing_id %}
<!-- lista per mostrare tabelle -->
<h2>Lista Tabelle presenti nella struttura {{editing_id}}: </h2>
<ul>
    {% for table in tables %}
        <li> {{ table.nome }} </li>
    {% empty %}
        Nessuna Tabella in questa struttura
    {% endfor %}
</ul>
<a href="{% url 'new_table_view' editing_id %}">Aggiungi Tabella</a><br>
<a href="{% url 'model_delete' 'StrutturaDatabase' editing_id %}">Elimina struttura database</a>
{% endif %}

{% endblock content %}